<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dummy.css')}}">
</head>
<body>
<div class="container">
  <div class="content">
    <h2>Under construction</h2>
    <p>This website is under contruction. Sorry for the inconvinience caused. We will be back soon</p>
    <p>Check out the sidebar!!</p>
    <p>Contribute to us: developer@inDev.in</p>
    <p>To know more about us, visit <a href="/">Incentive Technologies</a></p>
    <p>Reach us at <a href="/#contact">Contact</a></p>
    <p>Connect with us <a href="/#connect">Connect</a></p>
    <p>@incentive technologies</p>
    <p>!@#$%^&*()_+</p>
  </div>
  <div class="topright">
    <button onclick=upwalletfunc()></button>
  </div>
</div>
<script>
  function upwalletfunc()
  {
    window.location.href="/upWallet"
  }
</script>
</body>
</html>